<div class="container">
    <div class="child_container">
        <h1>CARD ONE</h1>
        <div class="sibling">
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
            <div class="small_child">
                <div class="img">CARD
                    <img src="../../assets/images/icons8-folder-24.png" alt="file_icon" class="icon">
                </div>
            </div>
        </div>
    </div>
</div>
