<div class="container">
    <div class="childcontainer">
        <h2 class="heading">Login</h2>
        <form [formGroup]="loginForm">
            <div class="txt">
                <div class="txt_fld">
                    <input type="text" class="input" formControlName="email">
                    <label class="label" for="email" [ngClass]="{'active':loginForm.controls['email'].value!=''}"
                        [ngClass]="{'active': loginForm.controls['email'].value !== '', 'error': hasError('email', 'required') || hasError('email', 'pattern')}">Email</label>
                </div>
                <span *ngIf="loginForm.controls['email'].invalid&&loginForm.controls['email'].touched">
                    <span class="valid" *ngIf="loginForm.controls['email']?.errors?.required">Email is
                        required</span>
                    <span class="valid" *ngIf="loginForm.controls['email']?.errors?.pattern">Invalid email</span>
                </span>
            </div>
            <div class="txt">
                <div class="txt_fld">
                    <input type="password" class="input" formControlName="passWord">
                    <label class="label" for="password"
                        [ngClass]="{'active': loginForm.controls['passWord'].value !== '', 'error': hasError('passWord', 'required') || hasError('passWord', 'minlength')}">Password</label>
                </div>
                <span *ngIf="loginForm.controls['passWord'].invalid&&loginForm.controls['passWord'].touched">
                    <span class="valid" *ngIf="loginForm.controls['passWord']?.errors?.required">Password is
                        required</span>
                    <span class="valid" *ngIf="loginForm.controls['passWord']?.errors?.minlength">There must be minimum
                        seven characters</span>
                </span>
            </div>

            <button class="submit" type="submit" (click)="submit()">SUBMIT</button>
        </form>
    </div>
</div>